.header {
    float: left;
    width: 100%;

    &__mobile {
        background-color: black;
        padding: 10px 0;
    }

    &__desktop {

    }

    &__hamburger {
        float: left;
        margin-right: 16px;
        padding-top: 11px;
    }

    &__logo-mobile {
        float: left;
        width: 89px;
        padding-top: 7.5px;
    }

    &__link-call {
        font-size: 12px;
        line-height: 14px;
        color: #009FDB;
        text-decoration: none;
        border: solid 2px #009FDB;
        box-sizing: border-box;
        padding: 9px 18px;
        text-transform: uppercase;
        float: right;
        border-radius: 20px;
        background-color: inherit;

        img {
            margin-right: 6px;
        }
        
    }

}